02 RaspberryDocker/volumes/nodered/data/.flows.json.backup
[{"id":"e088b33a.bcb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e8d59a9b.a976e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6a486e64.6b811","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"73d111e3.25778","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"ca0885a7.59e558","type":"tab","label":"Steve's Logger","disabled":true,"info":""},{"id":"8986ec61.34c3","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c9484f15.c2c61","type":"tab","label":"Set LogTimes and Labels","disabled":false,"info":""},{"id":"b1dbee1e.ecec9","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"testDB","name":"","usetls":false,"tls":""},{"id":"862a34bf.17ad68","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"sensors","name":"","usetls":false,"tls":""},{"id":"888626b9.9ad158","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9938a782.62e7e8","type":"ui_tab","z":"","name":"LAB","icon":"dashboard","order":1},{"id":"75f016c9.274df8","type":"ui_tab","z":"","name":"LAB","icon":"dashboard","order":1},{"id":"b63f86b6.384378","type":"ui_tab","z":"","name":"Home","icon":"home","order":"1"},{"id":"d5eff22c.6a174","type":"ui_tab","z":"","name":"Reports","icon":"dashboard","order":9},{"id":"72fea822.eadc18","type":"ui_tab","z":"","name":"Home","icon":"home","order":"1"},{"id":"d20794ea.5b3348","type":"ui_tab","z":"","name":"Reports","icon":"dashboard","order":9},{"id":"adc04e1a.c484e","type":"ui_tab","z":"","name":"RFLink","icon":"settings_remote","order":19},{"id":"ecaf5d26.e4c0d","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b312e95.b109118","type":"influxdb","z":"","hostname":"192.168.30.100","port":"8086","protocol":"http","database":"sensors","name":"","usetls":false,"tls":""},{"id":"58725f80.804ba","type":"ui_group","z":"","name":"Control","tab":"b0436bd4.5ffae8","disp":true,"width":"4","collapse":false},{"id":"23906a3.f284e96","type":"ui_group","z":"","name":"Status","tab":"b0436bd4.5ffae8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0436bd4.5ffae8","type":"ui_tab","z":"","name":"Logger","icon":"dashboard"},{"id":"28150135.b6559e","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.43","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7a320e49.b6404","type":"mqtt-broker","z":"","name":"","broker":"http://192.168.30.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ff507f9e.391e5","type":"inject","z":"e088b33a.bcb62","name":"myName","topic":"{\"temp\":23.25919,\"hum\":54.15326,\"pressure\":101.0474,\"illuminance\":33.87097,\"uva\":0,\"uvb\":0,\"uvIndex\":0}","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":40,"wires":[["f6086dab.d8483","11386a2c.2e95c6"]]},{"id":"f6086dab.d8483","type":"file","z":"e088b33a.bcb62","name":"test","filename":"/home/pi/sensorLog/log2.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":430,"y":40,"wires":[[]]},{"id":"11386a2c.2e95c6","type":"json","z":"e088b33a.bcb62","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":120,"wires":[["588b1150.410ad"]]},{"id":"588b1150.410ad","type":"influxdb out","z":"e088b33a.bcb62","influxdb":"b312e95.b109118","name":"sensors","measurement":"sensors","precision":"s","retentionPolicy":"","x":460,"y":120,"wires":[]},{"id":"c3a56107.141ee","type":"inject","z":"e8d59a9b.a976e8","name":"myName","topic":"{\"temp\":23.25919,\"hum\":54.15326,\"pressure\":101.0474,\"illuminance\":33.87097,\"uva\":0,\"uvb\":0,\"uvIndex\":0}","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":40,"wires":[["9c25f72d.f592f8","52b7eb04.634014"]]},{"id":"9c25f72d.f592f8","type":"file","z":"e8d59a9b.a976e8","name":"test","filename":"/home/pi/sensorLog/log2.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":430,"y":40,"wires":[[]]},{"id":"660cca73.b2daa4","type":"inject","z":"6a486e64.6b811","name":"","topic":"test","payload":"{\"temp\":23.25919,\"hum\":54.15326,\"pressure\":101.0474,\"illuminance\":33.87097,\"uva\":0,\"uvb\":0,\"uvIndex\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":82,"y":296.9999752044678,"wires":[["9abdcce1.a8f84"]]},{"id":"e0e7102c.ae602","type":"file","z":"6a486e64.6b811","name":"","filename":"/home/pi/test/test.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":605.5,"y":247.00001525878906,"wires":[[]],"inputLabels":["msg.payload"]},{"id":"86af0d1d.02ce5","type":"debug","z":"6a486e64.6b811","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580.5,"y":328.3332214355469,"wires":[]},{"id":"8d109fd7.24532","type":"change","z":"6a486e64.6b811","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now() & \", \"& topic &\", \"& payload ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":369.93563079833984,"y":296.2840394973755,"wires":[["e0e7102c.ae602","86af0d1d.02ce5"]]},{"id":"13168632.3f0b7a","type":"influxdb out","z":"6a486e64.6b811","influxdb":"b312e95.b109118","name":"sensors","measurement":"sensors","precision":"s","retentionPolicy":"","x":489.9395446777344,"y":462.10211181640625,"wires":[]},{"id":"fed09ec1.aebfa","type":"function","z":"ca0885a7.59e558","name":"Store Data","func":"var local=flow.get('local') || {};\nvar topic=msg.topic;\nvar payload=msg.payload;\nvar last_payload=\"\";\nvar msg2={};\nvar by_topic=local.by_topic || false; // log by topic\nvar all_data=local.all_data || true; // log all data or only changed data\nvar store_time=local[\"store_time\"] ||false;\nvar store_topic=local[\"store_topic\"] ||false;\nvar start_logger=local[\"start_logger\"] || false;\nvar ignore_switches=local['ignore-switches'] || false;\nvar max_size =5000000; //maximum log file size\n\n//node.log(\" topic =\"+topic +\"message \"+msg.payload);\n//node.log(\" store topic =\"+ store_topic +start_logger);\n//\nfunction get_filename(topic,payload)\n{\n\n if (!(topic in local))\n\tlocal[topic]={}; //create\n\nvar filename=local[topic][\"cf_name\"] || \"log000.txt\";\n\n//node.log(filename);\nvar cf_counter=local[topic].cf_counter || 0;\nvar cf_size=local[topic].cf_size || 0;\n//node.log(\"file size=\"+cf_size +\" counter  \"+cf_counter);\ncf_size = cf_size +payload.length;\n\nif (cf_size>max_size)\n{\n//node.log(\"size limit reached\")\ncf_counter+=1\nvar count=cf_counter.toString();\nif (count.length==1)\ncount=\"00\"+count;\nif (count.length==2)\ncount=\"0\"+count;\n//\nfilename=\"log\"+count+\".txt\";\ncf_size=0;\n}\n//node.log(\"file size=\"+cf_size +\" counter  \"+cf_counter);\n//\nlocal[topic][\"cf_name\"]=filename;\nlocal[topic][\"cf_counter\"]= cf_counter;\nlocal[topic][\"cf_size\"]= cf_size;\nflow.set(\"local\",local);\nmsg2.payload=cf_counter;\n\n//\nreturn filename;\n\n\n}\nfunction message_changed(payload,topic)\n{\n  \tif (!local.all_data) //not logging all data\n\t {  \n\t\tif (!(local[topic]===undefined)) //test exists\n\t\t{\n\t\n\t\tlast_payload=local[topic][\"last_payload\"];\n\n\t\t//node.log(\"last payload \"+ last_payload);\n\t\t//node.log(\"This payload \"+ payload);\n\t\t}\n\t\telse\n\t\t\t\tlocal[\"topic\"]={}; //initialise\n\n\t\t//\n\t\tif (payload===last_payload)\n\t\t{\n\t\t//node.log(\"same data \"+topic +\"not logging\");\n\t\treturn false;\n\t\t}\n\t}  \n\treturn true;\n}\n\n//node.log(\"start_logger is \"+start_logger);\n\n\nif (start_logger)\n{\n//node.log(\"logging all data \"+local.all_data+ \"by topic\"+local.by_topic);\n\n\n\n\n//\nvar d = new Date();\nvar t = d.getTime();\ntry {\nnew_payload=JSON.parse(payload); //convert to javascript\n//node.log(\"data is already Json\");\npayload=new_payload;\n}\ncatch (e){\n\t//node.log(\"data is not Json\");\n}\n\nif (store_time && store_topic)\t\n\tpayload={\"time\":t,\"payload\":payload,\"topic\":topic};\nif (store_time && !store_topic)\n\tpayload={\"time\":t,\"payload\":payload};\nif (!store_time && store_topic)\n\tpayload={\"payload\":payload,\"topic\":topic};\nif (!store_time && !store_topic)\n\tpayload={\"payload\":payload};\t\npayload=JSON.stringify(payload);\n//node.log(\"payload is \",payload);\nif (local.by_topic==true)\n    var topic=msg.topic;\nelse\n    var topic=\"default\";\n\nvar filename=get_filename(topic,payload);\nl=topic.length;\nif (topic[l-1] !=\"/\")\nmsg.filename = \"/home/pi/logs/\"+ topic +\"/\"+filename;\nelse\nmsg.filename = \"/home/pi/logs/\"+ topic +filename;\n//node.log(\"filename= \"+msg.filename);\nmsg.payload=payload;\nif(message_changed(payload,topic))\n{\nlocal[topic][\"last_payload\"]=payload;\nflow.set('local',local);\n\nreturn [msg,msg2];\n}\nelse\nreturn [null,msg2];\n}\n\nreturn [null,null];","outputs":2,"noerr":0,"x":551.0094757080078,"y":155.00568389892578,"wires":[["cc2ffc73.92bf7"],[]]},{"id":"b506fce.20b35","type":"mqtt in","z":"ca0885a7.59e558","name":"","topic":"arduino/#","qos":"0","broker":"ecaf5d26.e4c0d","x":201.0094757080078,"y":155.00568389892578,"wires":[["fed09ec1.aebfa"]]},{"id":"cc2ffc73.92bf7","type":"file","z":"ca0885a7.59e558","name":"log sensor data","filename":"/home/pi/test/StevesLog.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":781.0094757080078,"y":135.00568389892578,"wires":[[]]},{"id":"6724f541.4ee5ec","type":"debug","z":"ca0885a7.59e558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":671.0094757080078,"y":515.0056838989258,"wires":[]},{"id":"3e8adb2b.c48424","type":"ui_switch","z":"ca0885a7.59e558","name":"","label":"All Data","group":"58725f80.804ba","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"ALL-DATA","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":381.0094757080078,"y":235.00568389892578,"wires":[["8b1595a9.af0108"]]},{"id":"ab15f7e5.ccd4a8","type":"ui_switch","z":"ca0885a7.59e558","name":"","label":"Log By Topic","group":"58725f80.804ba","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"BY-TOPIC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":411.0094757080078,"y":295.0056838989258,"wires":[["8b1595a9.af0108"]]},{"id":"f76e20c5.eb1fb","type":"ui_switch","z":"ca0885a7.59e558","name":"","label":"Start Logging","group":"58725f80.804ba","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"START","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":421.0094757080078,"y":475.0056838989258,"wires":[["8b1595a9.af0108"]]},{"id":"a7386ad.068b898","type":"inject","z":"ca0885a7.59e558","name":"Set Initial switch states","topic":"init","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":116.00948333740234,"y":601.6723499298096,"wires":[["6aaf94cc.b9fd3c"]]},{"id":"e460e833.1600b8","type":"ui_text","z":"ca0885a7.59e558","group":"23906a3.f284e96","order":0,"width":0,"height":0,"name":"","label":"Stop/Start","format":"{{msg.payload}}","layout":"row-spread","x":821.0094757080078,"y":295.0056838989258,"wires":[]},{"id":"d820e06c.8fd2a","type":"ui_switch","z":"ca0885a7.59e558","name":"","label":"Store Date-Time","group":"58725f80.804ba","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"STORE-TIME","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":421.0094757080078,"y":415.0056838989258,"wires":[["8b1595a9.af0108"]]},{"id":"87a85178.48e62","type":"ui_switch","z":"ca0885a7.59e558","name":"","label":"Store Topic","group":"58725f80.804ba","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"STORE-TOPIC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":411.0094757080078,"y":355.0056838989258,"wires":[["8b1595a9.af0108"]]},{"id":"8b1595a9.af0108","type":"function","z":"ca0885a7.59e558","name":"Set Switches","func":"var local=flow.get('local') || {};\nvar topic=msg.topic;\nvar msg1={};\nvar msg2={};\nmsg2.payload=\"\";\nvar by_topic=local[\"by_topic\"]|| false; // log by topic\nvar all_data=local[\"all_data\"] || true; // log all data or only changed data\nvar store_time=local[\"store_time\"] ||false;\nvar store_topic=local[\"store_topic\"] ||false;\nvar start_logger=local[\"start_logger\"] || false;\nvar ignore_switches=local['ignore-switches'] || false;\npayload=msg.payload;\nnode.log(\"in switch status\");\n\nfunction reset()\n{\nlocal={};\nlocal[\"all_data\"]=true\n local[\"by_topic\"]=false;   \n local[\"store_topic\"]=false; \n local[\"all_data\"]=true;\n local[\"store_time\"]=false;  \n local['ignore-switches']=false;\n local[\"start_logger\"]=false;\n \n}\n\tif (topic==\"RESET\")\n\t{\n\t    reset(); //reset stored data to default\n\t    flow.set('local',local);\n\t    msg2.payload=\"Manual Reset\";\n\t    node.log(\"start_logger is \"+local[\"start_logger\"]);\n\t    msg1.payload=\"Logging Stopped\";\n\t    return[msg1,msg2];\n\t    \n\t}\n\n\tif (topic==\"START\")\n\t{\n\t\tif (payload){\n\t\t\tnode.log(\"start_logger \");\n\t\t\tlocal[\"start_logger\"]=payload;\n\t\t\tlocal['ignore-switches']=true;\n\t\t\tflow.set('local',local);\n\t\t\tnode.log(\"start_logger \"+local.start_logger)\n\t\t\tmsg1.payload=\"Logging started\";\n\t\t\t\n\t\t\treturn [msg1,msg2];\n\t\t}\n\telse\n\t{\n\t\t\tmsg1.payload=\"Logging Stopped\";\n\t\t\tlocal[\"start_logger\"]=false;\n\t\t\treset(); //reset stored data to default\n\t\t\tflow.set('local',local);\n\t\t\tmsg2.payload=false //reset switches\n\t\t\treturn [msg1,msg2];\n\t}\n\t}\n\t\t\n\tif (topic==\"BY-TOPIC\" && !ignore_switches)\n\t{\n\t\tif (payload)\n\t\t{\n\t\t  local[\"by_topic\"]=true;\n\t\t  flow.set('local',local);\n\t\t  return [null,msg2];\n\t\t}\n\t\telse\n\t\t{\n\t\t  local[\"by_topic\"]=false;\n\t\t  flow.set('local',local);\n\t\t  return [null,msg2];\n\t\t}\t\n\t}\n\tif (topic==\"ALL-DATA\" && !ignore_switches)\n\t{\n\t\tif (payload)\n\t\t{\n\n\t\t  local[\"all_data\"]=true;\n\t\t  flow.set('local',local);\n\t\t  return [null,msg2];\n\t\t}\n\t\telse\n\t\t{\n\n\t\t  local[\"all_data\"]=false;\n\t\t  flow.set('local',local);\n\t\t  return [null,msg2];\n\t\t}\n\t}\n\tif (topic==\"STORE-TOPIC\" && !ignore_switches)\n\t{\n\t\tif (payload)\n\t\t{\n\t\t  local[\"store_topic\"]=true;\n\t\t  flow.set('local',local);\n\t\t return [null,msg2];\n\t\t}\n\telse\n\t\t{\n\t\t  local[\"store_topic\"]=false;\n\t\t  flow.set('local',local);\n\t\t  return [null,msg2];\n\t\t}\n\t}\n\t\n\tif (topic==\"STORE-TIME\" && !ignore_switches)\n\t{\n\t\tif (payload)\n\t\t{\n\t\t  local[\"store_time\"]=true;\n\t\t  flow.set('local',local);\n\t\t return [null,msg2];\n\t\t}\n\telse\n\t\t{\n\t\t  local[\"store_time\"]=false;\n\t\t  flow.set('local',local);\n\t\t return [null,msg2];\n\t\t}\n\t}\t\t\n\n\n\n\n","outputs":3,"noerr":0,"x":631.0094757080078,"y":355.0056838989258,"wires":[["e460e833.1600b8"],["f1ab3054.e454b"],[]]},{"id":"6aaf94cc.b9fd3c","type":"ui_button","z":"ca0885a7.59e558","name":"","group":"58725f80.804ba","order":0,"width":0,"height":0,"passthru":true,"label":"RESET","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"RESET","x":221.0094757080078,"y":495.0056838989258,"wires":[["8b1595a9.af0108","6724f541.4ee5ec","f76e20c5.eb1fb","d820e06c.8fd2a","87a85178.48e62","ab15f7e5.ccd4a8","b16e36a1.f71fc8"]]},{"id":"b16e36a1.f71fc8","type":"change","z":"ca0885a7.59e558","name":"reset true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":221.0094757080078,"y":255.00568389892578,"wires":[["3e8adb2b.c48424"]]},{"id":"f1ab3054.e454b","type":"ui_text","z":"ca0885a7.59e558","group":"23906a3.f284e96","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":831.0094757080078,"y":355.0056838989258,"wires":[]},{"id":"1bb752b7.c930dd","type":"debug","z":"6a486e64.6b811","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450.9376029968262,"y":566.6173572540283,"wires":[]},{"id":"9abdcce1.a8f84","type":"json","z":"6a486e64.6b811","name":"","property":"payload","action":"obj","pretty":false,"x":245.93369674682617,"y":463.9222936630249,"wires":[["13168632.3f0b7a","8d109fd7.24532","1bb752b7.c930dd"]]},{"id":"32bdf568.3b992a","type":"debug","z":"73d111e3.25778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":200,"wires":[]},{"id":"21e94114.b06fee","type":"inject","z":"73d111e3.25778","name":"inject \"open\" command","topic":"/hello","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":300,"wires":[["bf04e758.e1b028"]]},{"id":"bf04e758.e1b028","type":"mqtt out","z":"73d111e3.25778","name":"","topic":"","qos":"","retain":"","broker":"ecaf5d26.e4c0d","x":620,"y":320,"wires":[]},{"id":"2100c780.b95c08","type":"inject","z":"73d111e3.25778","name":"inject \"closed\" command","topic":"/hello","payload":"closed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":380,"wires":[["bf04e758.e1b028"]]},{"id":"af040862.51ca88","type":"mqtt in","z":"73d111e3.25778","name":"","topic":"#","qos":"0","broker":"ecaf5d26.e4c0d","x":270,"y":160,"wires":[["32bdf568.3b992a"]]},{"id":"8b24d0e.64d823","type":"mqtt in","z":"6a486e64.6b811","name":"","topic":"/arduino/#","qos":"0","broker":"ecaf5d26.e4c0d","x":65,"y":462.69122314453125,"wires":[["9abdcce1.a8f84"]]},{"id":"de0bd0f3.9d80b","type":"inject","z":"8986ec61.34c3","name":"","topic":"test","payload":"{\"temp\":23.25919,\"ID\":1,\"hum\":54.15326,\"pressure\":101.0474,\"illuminance\":33.87097,\"uva\":0,\"uvb\":0,\"uvIndex\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":82,"y":296.9999752044678,"wires":[["63130d0e.60f874"]]},{"id":"80cf2aad.6ce948","type":"file","z":"8986ec61.34c3","name":"","filename":"/home/pi/test/test.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":584.4999961853027,"y":213.00001049041748,"wires":[[]],"inputLabels":["msg.payload"]},{"id":"fd5a2d47.40968","type":"debug","z":"8986ec61.34c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550.4999961853027,"y":371.33321952819824,"wires":[]},{"id":"d41a1f53.4a327","type":"change","z":"8986ec61.34c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now() & \", \"& topic &\", \"& payload ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":369.93563079833984,"y":296.2840394973755,"wires":[["80cf2aad.6ce948","fd5a2d47.40968"]]},{"id":"b1dedb31.8c1c88","type":"json","z":"8986ec61.34c3","name":"","property":"payload","action":"obj","pretty":false,"x":74.93181228637695,"y":210.04922914505005,"wires":[[]]},{"id":"fbad9d3c.d7298","type":"csv","z":"8986ec61.34c3","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":257.9317970275879,"y":214.07950973510742,"wires":[[]]},{"id":"5a264421.50280c","type":"influxdb out","z":"8986ec61.34c3","influxdb":"b312e95.b109118","name":"sensors","measurement":"sensors","precision":"n","retentionPolicy":"","x":532.9395351409912,"y":448.1021099090576,"wires":[]},{"id":"bfd73e3c.f998a","type":"debug","z":"8986ec61.34c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":472.93761825561523,"y":550.6173725128174,"wires":[]},{"id":"63130d0e.60f874","type":"json","z":"8986ec61.34c3","name":"","property":"payload","action":"obj","pretty":false,"x":245.93369674682617,"y":463.9222936630249,"wires":[["5a264421.50280c","d41a1f53.4a327","bfd73e3c.f998a"]]},{"id":"c1a6dc3b.035c","type":"debug","z":"8986ec61.34c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":224.01435089111328,"y":635.0055274963379,"wires":[]},{"id":"a125c807.7f6ae8","type":"inject","z":"c9484f15.c2c61","name":"LowRegistrationFrecuencyInMinutes","topic":"/arduino/setLogIntrvMin","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":340,"wires":[[]]},{"id":"d8da0170.d9704","type":"inject","z":"c9484f15.c2c61","name":"HighMeasurementFrecuencyInMinutes","topic":"setMeasFrecMin/#","payload":"3","payloadType":"num","repeat":"","crontab":"*/5 8 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":214.07011032104492,"y":380.0246043205261,"wires":[[]]},{"id":"c509777a.27fc08","type":"inject","z":"c9484f15.c2c61","name":"HighMeasurementFrecuencyInMinutes","topic":"/gettMeasFrec/","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":202.07011032104492,"y":419.41856241226196,"wires":[[]]},{"id":"c72dc5b6.364cf8","type":"inject","z":"c9484f15.c2c61","name":"setSensorLabel","topic":"/arduino/setSensorLabel/A4CF128ABA00_ID10 ","payload":"el_Arduino_10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130.68564987182617,"y":62.03032398223877,"wires":[["8f12cf1a.dde71"]]},{"id":"8f12cf1a.dde71","type":"mqtt out","z":"c9484f15.c2c61","name":"","topic":"","qos":"2","retain":"","broker":"7a320e49.b6404","x":670,"y":60,"wires":[]},{"id":"40eed212.630a2c","type":"inject","z":"c9484f15.c2c61","name":"setLogIntrv 20min","topic":"/arduino/setLogIntrvMili","payload":"180000","payloadType":"num","repeat":"","crontab":"*/5 8 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":133.61553955078125,"y":109.00568389892578,"wires":[["8f12cf1a.dde71"]]},{"id":"1efd99a2.e4c8e6","type":"inject","z":"c9484f15.c2c61","name":"setLogIntrvMin","topic":"/arduino/setLogIntrvMin","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":152.99999618530273,"y":266.000009059906,"wires":[[]]},{"id":"cd90e727.397648","type":"mqtt in","z":"8986ec61.34c3","name":"arduino","topic":"#","qos":"0","datatype":"auto","broker":"7a320e49.b6404","x":56,"y":462.4601984024048,"wires":[["63130d0e.60f874","c1a6dc3b.035c"]]},{"id":"52b7eb04.634014","type":"json","z":"e8d59a9b.a976e8","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":120,"wires":[["45e3a9b6.43f078"]]},{"id":"45e3a9b6.43f078","type":"influxdb out","z":"e8d59a9b.a976e8","influxdb":"b312e95.b109118","name":"sensors","measurement":"sensors","precision":"s","retentionPolicy":"","x":460,"y":120,"wires":[]},{"id":"ac002976.fcc0c8","type":"inject","z":"c9484f15.c2c61","name":"setLogIntrv 3min","topic":"/arduino/setLogIntrvMili","payload":"1200000","payloadType":"num","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["8f12cf1a.dde71"]]},{"id":"e88be551.b56b78","type":"inject","z":"c9484f15.c2c61","name":"setLogIntrv 10sec","topic":"/arduino/setLogIntrvMili","payload":"5000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":180,"wires":[["8f12cf1a.dde71"]]}]